@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Animation de la bande déroulante (Marquee) */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

/* Met en pause le défilement au survol de la souris */
.animate-marquee:hover {
  animation-play-state: paused;
}